# CSharp specific
Src/Mint.API/obj/
Src/Mint.API/bin/
Src/Mint.Application/obj/
Src/Mint.Application/bin/
Src/Mint.Infrastructure/obj/
Src/Mint.Infrastructure/bin/
Src/Mint.Domain/obj/
Src/Mint.Domain/bin/
# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Src/Mint.API/appsettings.json
Src/Mint.API/*.json
Src/Mint.API/appsettings.Development.json
